/*  COLORS
    - defaut body
    - h1

    - button
    - button:hover
*/

/* FONTS
    - Default : lato
    - Subtitle
*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
*/

/* =============== GLOBAL =============== */

html {
    background-color: white;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}

h1 {
    color: #eee;
}

h2 {
    color: black;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: "lato", sans-serif;
}

h2:after {
    display: block;
    height: 2px;
    background-color: green;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 160%;
}

p {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

section {
    padding: 30px 0 60px 0px;
}

/* =============== HEADER =============== */

header {
    background-image:
        /* linear-gradient(  rgba(0,242,96,0.4),rgba(7,117,230,0.6)),  */
        url(../images/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-title {
    position: absolute;
    top: 35%;
}

.home-title h1 {
    font-size: 340%;
}

.home-title h1 span {
    font-weight: 700;
}

.home-title p {
    color: white;
}

/* =============== NAVBAR =============== */
header nav {
    background: rgba(76, 175, 80, 0.3);
}

/* =============== BUTTON =============== */
.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;
    margin-bottom: 20px;
}

.btn-full {
    background-color: azure;
    color: rgb(50, 241, 108);
    margin-right: 15px;
}

.btn-ghost {
    border: 1px solid white;
    color: white;
}

.btn-full:hover {
    background-color: rgb(50, 241, 108);
    color: white;
}

.btn-ghost:hover {
    background-color: rgb(50, 241, 108);
    color: white;
    border: 1px solid rgb(50, 241, 108);
}

/* =============== PRODUITS =============== */

.produits-plus {
    margin: 20px 0;
}

.produits-plus:hover .produits-icon {
    transform: translateX(10px);
    color: rgb(0, 0, 0);
}

.produit-img {
    max-width: 100%;
    height: auto;
}

.produits-icon {
    font-size: 34px;
    color: green;
    transition: all 0.5s;
}

/* =============== FAMILLE DES THES =============== */
.famille-the {
    background-color: rgb(180, 245, 180);
}

.famille-details {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: transform .2s;
}

.famille-details:hover {
    transform: scale(1.1);
}

.famille-details img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.famille-details h4 {
    text-align: center;
}

/* =============== GALERIES PHOTOS =============== */
.galeries-img {
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 30px;
    transition: transform .2s;
}

.galeries-img:hover {
    transform: scale(1.05);
}

.galerie-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.galerie-title h4 {
    color: white;
}

/* =============== AVIS CLIENTS =============== */
.clients {
    background-image: linear-gradient(
        rgba(0,242,96,0.4),
        rgba(7,117,230,0.6)
        ), 
    url(../images/the-paysage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.clients h2 {
    color: white;
}

.clients h2:after {
    background-color: #fff;
}

.client-profil {
    color: white;
}

blockquote {
    color: white;
    font-style: italic;
    line-height: 130%;
    padding: 5px;
}

blockquote:before {
    content: '\201C';
    font-size: 800%;
    font-family: "Sanchez", serif;
    position: absolute;
    top: 35px;
    left: 5px;
    color: rgba(255, 255, 255, 0.6);
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* =============== TABLEAU DES PACKS =============== */
.pack {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform .2s;
}

.pack:hover {
    transform: scale(1.1);
}

.pack h3 {
    color: green;
    font-weight: 400;
}

.pack h4 {
    font-size: 200%;
    font-weight: 100;
}

.pack span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    top: -15px;
    left: 2px;
}

.pack-title {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #e3e0e3;
}

.pack-title-premium {
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #fff;
    color: rgb(48, 129, 48);
    border-radius: 10px;
    padding: 2px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.pack-content ul {
    list-style: none;
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
}

.pack-content ul li i {
    font-size: 90%;
    margin-right: 10px;
}

.pack-signup {
    text-align: center;
}

.pack-signup:hover .btn-pack {
    background-color: rgb(27, 172, 27);
    color: #fff;
}

.btn-pack {
    background-color: green;
    color: #fff;
    margin-bottom: 20px;
}

.pack-premium {
    background-color: rgb(36, 182, 36);
    color: #fff;
}

/* =============== CONTACT =============== */
.contact-form {
    margin-bottom: 30px;
}

.contact-message {
    width: 100%;
}

.btn-contact {
    background-color: green;
    color: #fff;
    margin-right: 15px;
}

.map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* =============== FOOTER =============== */
footer {
    background-color: rgb(54, 54, 54);
    color: #fff;
    height: 60px;
    text-align: center;
}

.copyright {
    text-align: center;
    padding: 20px 20px;
}

.copyright a {
    color: #fff;
}